{% extends "base.html" %}



{% block title %}
{{ NEST_INDEX_HEAD_TITLE }}
{{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block header %}
<div class="jumbotron kn-index-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-sm-down" style="text-align: right">
                <a href="/"><img src="logo.png"/></a>
            </div>
            <div class="col-sm-12 hidden-md-up" style="text-align: center">
                <img src="{{SITEURL}}/logo.png"/>
            </div>
            <div class="col-md-6 hidden-sm-down">
                <h1>-Dariuko-</h1>
                <h3>Super turbo puslapiukas</h3>
            </div>
        </div>
    </div>
</div>

<nav class="navbar kn-navbar kn-navbar-center">
    <div class="container">
        <ul class="nav navbar-nav">
            {% include 'nav-items.html' %}
        </ul>
    </div>
</nav>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="card">
        <div class="card-block">
            <div class="card-text">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
