{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ page.content|striptags|truncate(200)|escape }}{% endblock description %}

{% block header %}
{% include 'top-nav.html' %}
{% endblock header %}

{% block content %}
<div class="row">
    <div class="card col-xs-12">
        <div class="card-block">
            <h1 class="card-title">
                {{ page.title }}
            </h1>
            <div class="card-text">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>

<script>
 var images, i;
 images = document.getElementsByTagName('img');
 for (i=0;i<images.length;i++) {
     images[i].className = 'article-image rounded mx-auto d-bloc';
 }
</script>
{% endblock %}
