<nav class="navbar kn-navbar">
    <div class="container">
        <div class="row flex-items-xs-center hidden-md-up">
            <a class="navbar-brand col-xs-12" href="{{SITEURL}}">
                <img src="{{SITEURL}}/logo-sm.png" />
            </a>
        </div>
        <a class="navbar-brand hidden-sm-down" href="{{SITEURL}}">
            <img src="{{SITEURL}}/logo-sm.png" />
        </a>
        <ul class="nav navbar-nav">
            {% include 'nav-items.html' %}
        </ul>
    </div>
</nav>
