/* Palette color codes
-------------------------------------------------- */
/* Palette URL: http://paletton.com/#uid=7370j0kw0uakgBtpIx1z6nWENiH */

/* As hex codes */
.color-primary-0 { color: #00A06C }	/* Main Primary color */
.color-primary-1 { color: #76D2B4 }
.color-primary-3 { color: #00412C }

.color-secondary-1-0 { color: #076998 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #B2D0DE }
.color-secondary-1-3 { color: #012A3E }

.color-secondary-2-0 { color: #F08100 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFCB8F }
.color-secondary-2-3 { color: #623500 }

.color-complement-0 { color: #F05100 }	/* Main Complement color */
.color-complement-1 { color: #FFB58F }
.color-complement-3 { color: #622100 }
/* -------------------------------------------------- */

.highlight {
    background-color: silver;
    font-family: monospace;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

.kn-navbar {
    background-color: white;
    border-radius: 0;
    margin-bottom: 24px;
    /* color-primary-0 */
    border-top: 1px solid #00A06D;
    border-bottom: 1px solid #00A06D;
}

.kn-navbar-center {
    text-align: center;
}

@media(max-width:576px) {
    .kn-navbar .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }
    .kn-navbar .navbar-nav .nav-item {
        float: none;
    }
    .kn-navbar .container {
        text-align: center
    }
}

@media(min-width:577px){
    .kn-navbar .navbar-nav .nav-item + .nav-item {
        margin-left: 1rem;
    }
    .kn-navbar .navbar-nav .nav-item {
        float: left;
    }
}

.kn-navbar .navbar-brand {
    text-align: center;
}

.kn-navbar .navbar-brand img {
    height: 1em;
}

.kn-navbar .container {
    line-height: 1em;
}

.kn-navbar .nav {
    display: inline-block;
    float: none;
}

.kn-index-header {
    background-color: transparent;
    margin-bottom: 0;
}

.card {
    box-shadow: 0 2px 3px 0 rgba(116,116,116,0.15);
    border-radius: 0;
}

.card-title {
    /* color-secondary-1-1 */
    border-bottom: 2px solid #B2D0DE;
}

.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    /* color-secondary-1-3 */
    color: #012A3E;
}

.nav-link:hover,
.nav-link:focus {
    /* color-secondary-2-0 */
    color: #F08100;
}

.nav-link.active {
    /* color-secondary-2-0 */
    color: #F08100;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* color-primary-1-0 */
    border-top: 1px solid #00A06C;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #F5F5F5;
}
/* ----------------------------------------------- */
